<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Language" content="en">
<title>Apollo Settings</title>
{{template "style" .}}
</head>

<body class="{{ .page.Theme }}">
{{template "navbar" .}}
<h1>Settings</h1>
<form>
    <label class="label">Current Theme:</label>
    <label class="value">{{ .page.Theme }}</label>
    <br>
    <label class="label">Server Realm:</label>
    <label class="value">{{ .page.Realm }}</label>
    <br>
    <label class="label">Default Password:</label>
    <label class="value">{{ .page.Pass }}</label>
</form>

<section>
<hr>
<h2>Theme</h2>
<form id="theme" method="POST" action="/settings/theme">
    <p class="intro">Toggle the display theme between light and dark mode.
    This change is persistently saved in the dynamic config.</p>

    <table width="100%"><tr>
        <td align="left"></td>
        <td align="right" class="button-cell"><button class="button" type="submit">Toggle</button></td>
    </tr></table>
</form>
</section>

<section>
<hr>
<h2>Internet</h2>
<form id="internet" method="POST" action="/settings/internet">
    <p class="intro">Specify public appearing ip address and token.</p>
    <label class="label" for="publicip">Public Ip:</label>
    <input class="field" type="text" id="publicip" name="publicip" value="{{ .page.PublicIp }}">
    <div class="sep"><br></div>

    <label class="label" for="iotoken">API Token:</label>
    <input class="field" type="text" id="iptoken" name="iptoken" value="{{ .page.IpToken}}">
    <div class="sep"><br></div>

    <table width="100%"><tr>
        <td align="left"></td>
        <td align="right" class="button-cell"><button class="button" type="submit">Locate</button></td>
    </tr></table>
</form>
</section>

<section>
<hr>
<h2>Location</h2>
<form id="location" method="POST" action="/settings/location">
    <p class="intro">Specify location of server.</p>
    <label class="label" for="geolocated">Geo Location:</label>
    <input class="field" type="text" id="geolocated" name="geolocated" value="{{ .page.Location }}">
    <div class="sep"><br></div>

    <label class="label" for="where">Street Address:</label>
    <input class="field" type="text" id="where" name="where" value="{{ .page.Where}}">
    <div class="sep"><br></div>

    <label class="label" for="city">City:</label>
    <input class="field" type="text" id="city" name="city" value="{{ .page.City}}">
    <div class="sep"><br></div>

    <label class="label" for="region">State:</label>
    <input class="field" type="text" id="region" name="region" value="{{ .page.Region}}">
    <div class="sep"><br></div>

    <label class="label" for="postal">Zip:</label>
    <input class="field" type="text" id="postal" name="postal" value="{{ .page.Postal}}">
    <div class="sep"><br></div>

    <table width="100%"><tr>
        <td align="left"></td>
        <td align="right" class="button-cell"><button class="button" type="submit">Update</button></td>
    </tr></table>
</form>
</section>


<section>
<hr>
<h2>Realm and Algorithms</h2>
<form id="realm" method="POST" action="/settings/realm">
    <p><span style="color: red; font-weight: bold">WARNING</span>: Changing
    the realm or the digest algorithm erases the encoded digests of ALL
    encoded lines. These will have to be manually re-entered for each line.</p>

    <p>Some devices may have old firmware which do not support SHA256 digests.
    While it is generally recomended to use SHA256 alone, it may continue to
    be nessisary to keep MD5 sip digest support enabled as well.</p>

    <label class="label" for="digests">Digests Used:</label>
    <input class="field" type="text" id="digests" name="digests" value="{{ .page.Digests }}" required>
    <div class="sep"><br></div>

    <label class="label" for="realm">New Realm:</label>
    <input class="field" type="text" id="realm" name="realm" value="">
    <div class="sep"><br></div>

    <label class="label" for="verify">Verify Realm:</label>
    <input class="field" type="text" id="verify" name="verify" value="">
    <div class="sep"><br></div>

    <table width="100%"><tr>
        <td align="left"></td>
        <td align="right" class="button-cell"><button class="danger" type="submit">Update</button></td>
    </tr></table>
</form>
</section>

</body>
</html>

